/***DIAGRAM***/

.diagram {
  position: relative;
  z-index: -1;
  left: 5px;
}

.temperature-diagram {
  margin: -150px auto 250px auto;
  height: 600px; /* Adjust height as needed */
}

.precipitaion-diagram {
  margin: 50px auto 50px auto;
  height: 300px;
}
.x-axis {
  position: absolute;
  bottom: 0;
  /* left: 0; */
  width: 100%;
  height: 1px;
  background-color: black;
}

.y-axis {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: black;
}

.y-axis-negative {
  top: 200px;
}

.diagram-title {
  position: absolute;
  left: 10px;
}

.t_bar {
  position: absolute;
  right: 10px;
  width: 12px;
  height: 12px;
}

.t_bar_round {
  border-radius: 12px;
}

.p_stick {
  position: absolute;
  right: 10px;
  width: 12px;
  bottom: 0;
}

.t_bar_legend {
  left: 20px;
}

.t_morning {
  background-color: var(--blue-color);
}

.t_noon {
  background-color: var(--primary-color);
}

.t_label {
  position: absolute;
  bottom: 10px;
}

.t_legend {
  position: absolute;
  top: -6px;
  left: 20px;
  width: 100px;
}
