.card {
  border-radius: 8px;
  /* box-shadow: 0px 5px 25px grey; */
  margin: 20px;
  padding: 20px;
}

.card_width {
  width: 350px;
}

.blue_shadow {
  box-shadow: 0px 5px 15px rgb(97, 120, 163);
}

.yellow_shadow {
  box-shadow: 0px 5px 15px rgb(185, 165, 74);
}

.weather_icon {
  margin: 0 20px;
}

.title {
  display: flex;
}
