:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --verydark-color: #686868;
  --verylight-color: #eef5ff;
  --lightblue-color: #b4d4ff;
  --primary-color: #ff9b50;
  --secondary-color: #f4d160;
  --blue-color: #176b87;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  min-width: 380px;
}

footer {
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(
    --secondary-color
  ); /*  rgb(185, 165, 74, 0.7); var(--verylight-color); */
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.87);
}

.dark_background {
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--blue-color);
  min-height: 80px;
}

.margin_0 {
  margin: 0 auto;
}

.padding_20 {
  padding: 20px 0;
}

.display_flex {
  display: flex;
}

.align_items_center {
  justify-content: center;
  align-items: center;
}

.shrink_zero {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.overflow_x {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

/* @media screen and (max-width: 650px) {
  .dot {
    margin: 12px 2px;
  }
} */
